<div class="qp-header__top-menu--container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0">
  <div class="qp-header__top-menu--logo" fxFlex="72px" fxLayoutAlign="center center" aria-hidden="true">QP+</div>
  <div fxFlex>
    <!--===============================
=            MAIN MENU            =
================================-->
    <div class="qp-header__top-main-menu" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- <div fxFlex style="color: #37474F">( -> {{pageTypeQuestionValue}} )</div> -->
      <div fxFlex="auto" fxLayout="row" fxLayoutAlign="end center">
        <div fxFlex="auto" class="qp-header__account" fxLayout="row" fxLayoutAlign="end center">
          <mat-icon>person</mat-icon><span class="qp-header__account--signed-as">Signed as</span><span class="qp-header__account--name" aria-label="Signed as Angela FLOOD">Angela FLOOD</span>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <mat-form-field class="qp-header__search-container">
            <input class="qp-header__search-field" type="search" matInput aria-label="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <!--========== Print Menu ==========-->
          <button mat-icon-button aria-label="Export Document" [matMenuTriggerFor]="menu">
            <mat-icon class="qp-header__action-icon" matTooltip="Export Document">print</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <i class="fa fa-file-pdf-o qp-icon-pdf" aria-hidden="true"></i>
              <span>Export to PDF</span>
            </button>
            <button mat-menu-item>
              <i class="fa fa-file-word-o qp-icon-word" aria-hidden="true"></i>
              <span>Export to WORD</span>
            </button>
          </mat-menu>
          <!--========== End Print Menu ==========-->
          <button mat-icon-button aria-label="Help">
            <mat-icon class="qp-header__action-icon" matTooltip="Help">help</mat-icon>
          </button>
          <button mat-icon-button aria-label="Logout">
            <mat-icon class="qp-header__action-icon" matTooltip="Logout">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!--====================================
=            SECONDARY MENU            =
=====================================-->
    <div class="qp-header__top-menu" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="auto" fxLayout="row" fxLayoutAlign="end center">
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <div *ngIf="isRegistered">test</div>
          <button class="qp-header__button" mat-button aria-label="View Questions">View Questions</button>
          <button class="qp-header__button" mat-button aria-label="Notify Authors">Notify Authors</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========================================
=            HEADER INFORMATION            =
=========================================-->
<div class="qp-header__information" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <div class="qp-header__title" aria-label="Title">System of payments to Spain's nuclear power stations</div>
    <div><span class="qp-label" aria-label="Authors">Author(s):</span>
      <span *ngIf="pageTypeQuestionValue=='qpAtt'||pageTypeQuestionValue=='qeAtt'">Josep-Maria TERRICABRAS</span>
      <span *ngIf="pageTypeQuestionValue=='qpWeb'||pageTypeQuestionValue=='qeWeb'">Josep-Maria TERRICABRAS, Rania STATHOPOULOU</span>
      <span *ngIf="pageTypeQuestionValue=='qo'||pageTypeQuestionValue=='ik'||pageTypeQuestionValue=='ig'">Bernd LANGE (CIT), Josep-Maria TERRICABRAS, Rania STATHOPOULOU</span>
    </div>
    <div><span class="qp-label" aria-label="Submission Date">Submission Date:</span>17/02/2017</div>
  </div>
  <div>
    <div class="qp-header__addressee--icon" fxLayout="row" fxLayoutAlign="end center">
      <div *ngIf="pageTypeQuestionValue=='qpAtt'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #c62828;border-color: #c62828;">P</div>
      <div *ngIf="pageTypeQuestionValue=='qpWeb'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #c62828;border-color: #c62828;">P</div>
      <div *ngIf="pageTypeQuestionValue=='qeAtt'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #00bfd3;border-color: #00bfd3;">E</div>
      <div *ngIf="pageTypeQuestionValue=='qeWeb'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #00bfd3;border-color: #00bfd3;">E</div>
      <div *ngIf="pageTypeQuestionValue=='qo'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #7CB342;border-color: #7CB342;">O</div>
      <div *ngIf="pageTypeQuestionValue=='ik'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #9e9d24;border-color: #9e9d24;">K</div>
      <div *ngIf="pageTypeQuestionValue=='ig'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #c2185b;border-color: #c2185b;">G</div>
      <div class="qp-icon-language" aria-label="Language">EN</div>
    </div>
    <div><span class="qp-label" aria-label="Addressee">Addressee:</span>President of the Council</div>
  </div>
</div>
