<!-- ========== FOOTER ======================================== -->
<footer fxLayout="row" fxLayoutAlign="start center" role="contentinfo">
  <div>QP+</div>
  <div>|</div>
  <div>v0.0.2</div>
  <div>|</div>
  <div>European Parliament</div>
</footer>
