<div class="qp-tab__container qp-color__registration" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly start" fxLayoutGap="20px">
  <!-- fxLayoutGap="20px" = SCSS variable $qp-global-padding-margin: 20px; in variables.scss -->
  <!--==================================
  =            MAIN CONTENT            =
  ===================================-->
  <div class="qp-tab__main-panel" fxLayout="column" fxLayoutGap="20px" fxFlex="75%" fxFlex.gt-sm="100%">
    <!--============================
    =            STATUS            =
    =============================-->
    <!-- !!! TODO: Replace *ngIf by *ngSwitchCase !!! -->
    <!--========== Status Registered ==========-->
    <div *ngIf="isRegistered==false && isSentBackToMep==false">
      <mat-card class="qp-card__status-info--pending-registration">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status">
          <i class="fa fa-exclamation-triangle qp-icon__status-info" aria-hidden="true"></i>Pending registration
        </mat-card-header>
      </mat-card>
    </div>
    <div *ngIf="isRegistered==true && isSentBackToMep==false">
      <mat-card class="qp-card__status-info--registered">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status"><i class="fa fa-check-circle qp-icon__status-info" aria-hidden="true"></i>Registered (22/07/2017)</mat-card-header>
      </mat-card>
    </div>
    <div *ngIf="isSentBackToMep">
      <mat-card class="qp-card__status-info--sent-back-to-mep">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status">
          <i class="fa fa-reply qp-icon__status-info" aria-hidden="true"></i>Sent Back to MEP (22/04/2017)
        </mat-card-header>
      </mat-card>
    </div>
    <!--========== END Status Registered ==========-->
    <!--========== Status Sent Back to MEP ==========-->
    <!-- <div *ngIf="isSentBackToMep; then sentBackToMepStatus else pendingRegistrationStatus"></div>
    <ng-template #sentBackToMepStatus>
      <mat-card class="qp-card__status-info--sent-back-to-mep">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status"><i class="fa fa-reply qp-icon__status-info" aria-hidden="true"></i>Sent Back to MEP (22/04/2017)</mat-card-header>
      </mat-card>
    </ng-template>
    <ng-template #pendingRegistrationStatus>
      <mat-card class="qp-card__status-info--pending-registration">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status"><i class="fa fa-exclamation-triangle qp-icon__status-info" aria-hidden="true"></i>Pending registration</mat-card-header>
      </mat-card>
    </ng-template> -->
    <!--========== END Status Sent Back to MEP ==========-->
    <!--====  End of STATUS  ====-->
    <!--=============================
    =            CONTENT            =
    ==============================-->
    <mat-card>
      <mat-card-title aria-label="Title">Question Details</mat-card-title>
      <mat-card-content>
        <table class="qp-content__table">
          <tr>
            <td></td>
            <td align="right">
              <div class="qp-header__addressee">
                <div class="qp-header__addressee--icon" fxLayout="row" fxLayoutAlign="end center">
                  <!--
              <div *ngFor="let typeQuestion of pageTypeQuestion" [ngSwitch]="typeQuestion.shortLabel">
                <div *ngSwitchCase="pageTypeQuestionValue" class="qp-icon-type-of-question" aria-label="Type of Question">
                  <div style="background-color: {{typeQuestion.colorLabel}} !important;">{{typeQuestion.iconLabel}}</div>
                </div>
              </div>
              -->
                  <!-- <div *ngIf="pageTypeQuestionValue=='{{typeQuestion.shortLabel}}'" style="background-color:{{ typeQuestion.color }};">{{ typeQuestion.iconLabel }}</div> -->
                  <!--  -->
                  <div *ngIf="pageTypeQuestionValue=='qpAtt'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #c62828;border-color: #c62828;">P</div>
                  <div *ngIf="pageTypeQuestionValue=='qpWeb'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #c62828;border-color: #c62828;">P</div>
                  <div *ngIf="pageTypeQuestionValue=='qeAtt'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #00bfd3;border-color: #00bfd3;">E</div>
                  <div *ngIf="pageTypeQuestionValue=='qeWeb'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #00bfd3;border-color: #00bfd3;">E</div>
                  <div *ngIf="pageTypeQuestionValue=='qo'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #7CB342;border-color: #7CB342;">O</div>
                  <div *ngIf="pageTypeQuestionValue=='ik'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #9e9d24;border-color: #9e9d24;">K</div>
                  <div *ngIf="pageTypeQuestionValue=='ig'" class="qp-icon-type-of-question" aria-label="Type of Question" style="background-color: #c2185b;border-color: #c2185b;">G</div>
                  <div class="qp-icon-language" aria-label="Language">EN</div>
                </div>
                <div><span class="qp-content__table--label" aria-label="Addressee">Addressee:</span>
                  <span *ngIf="pageTypeQuestionValue=='qpAtt'||pageTypeQuestionValue=='qpWeb'||pageTypeQuestionValue=='qeAtt'||pageTypeQuestionValue=='qeWeb'">President of the Council</span>
                  <span *ngIf="pageTypeQuestionValue=='qo'||pageTypeQuestionValue=='ik'||pageTypeQuestionValue=='ig'">Council</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="qp-content__table--label" aria-label="Subject">Subject:</td>
            <td>System of payments to Spain's nuclear power stations</td>
          </tr>
          <tr>
            <td class="qp-content__table--label" aria-label="Authors">Author(s):</td>
            <td>
              <!--========== Authors depending on type of question ==========-->
              <table *ngIf="pageTypeQuestionValue=='qpAtt'||pageTypeQuestionValue=='qeAtt'" class="qp-authors__table" aria-label="Author">
                <tr>
                  <td></td>
                  <td>Josep-Maria TERRICABRAS</td>
                </tr>
              </table>
              <!--====================-->
              <table *ngIf="pageTypeQuestionValue=='qpWeb'||pageTypeQuestionValue=='qeWeb'" class="qp-authors__table" aria-label="Author">
                <tr>
                  <td><i class="fa fa-id-card qp-icon-pdf" aria-hidden="true"></i></td>
                  <td>Josep-Maria TERRICABRAS</td>
                </tr>
                <tr>
                  <td><i class="fa fa-id-card qp-icon-pdf" aria-hidden="true"></i></td>
                  <td>Rania STATHOPOULOU</td>
                </tr>
              </table>
              <!--====================-->
              <table *ngIf="pageTypeQuestionValue=='qo'||pageTypeQuestionValue=='ik'||pageTypeQuestionValue=='ig'" class="qp-authors__table" aria-label="Author">
                <tr>
                  <td></td>
                  <td>Bernd LANGE on behalf of the Committee of International Trade</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Josep-Maria TERRICABRAS</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Rania STATHOPOULOU</td>
                </tr>
              </table>
              <!--========== END Authors depending on type of question ==========-->
            </td>
          </tr>
          <tr>
            <td class="qp-content__table--label" aria-label="Submission Date">Submission date:</td>
            <td>17/02/2017 10:15 am</td>
          </tr>
          <tr>
            <td></td>
            <td class="qp-content__table--text" aria-label="Question">In 2014, the Commission completed its formal investigation into illegal UK state aid to the Hinkley Point nuclear power plant. The Commission concluded that new measures that had been taken meant that the aid in question was now in line with EC law. The changes that the UK made to the system of payments within the legal framework for the financing of the plant in response to the Commission’s intervention established that as soon as profits exceeded the forecasts, the excess should be shared out among all UK consumers. As far as Spain is concerned, the system of power station payments does not provide for any mechanism of the kind introduced with regard to Hinkley Point following the Commission’s intervention. Does the Commission take the view that, as a general rule as regards state aid to power stations, any profits in excess of those forecast ought to be returned to consumers? Is the Commission aware of the windfall profits that Spain’s electricity companies are making?</td>
          </tr>
          <tr>
            <td class="qp-content__table--label" aria-label="Supporter(s)">Supporter(s):</td>
            <td>
              <!--========== Supporters depending on type of question ==========-->
              <table *ngIf="pageTypeQuestionValue=='qpAtt'||pageTypeQuestionValue=='qeAtt'" class="qp-authors__table" aria-label="Supporter">
                <tr>
                  <td></td>
                  <td>Rania STATHOPOULOU</td>
                </tr>
              </table>
              <!--====================-->
              <table *ngIf="pageTypeQuestionValue=='qpWeb'||pageTypeQuestionValue=='qeWeb'" class="qp-authors__table" aria-label="Supporter">
                <tr>
                  <td></td>
                  <td>John MARTIN</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Elisabeth CALLIPOULIS</td>
                </tr>
              </table>
              <!--========== END Supporters depending on type of question ==========-->
            </td>
          </tr>
          <tr>
            <td class="qp-content__table--label" aria-label="Annexes">Annexes:</td>
            <td>
              <table class="qp-annexes-signature__table" aria-label="Annexes">
                <tr>
                  <td><i class="fa fa-file-pdf-o qp-icon-pdf" aria-hidden="true"></i></td>
                  <td>Annex to th Reply of Written Question E-5442/2017</td>
                </tr>
                <tr>
                  <td><i class="fa fa-file-pdf-o qp-icon-pdf" aria-hidden="true"></i></td>
                  <td>Annexes to Reply - Your Question E-5419/2017</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr *ngIf="pageTypeQuestionValue!=='qpWeb' && pageTypeQuestionValue!=='qeWeb'">
            <td class="qp-content__table--label" aria-label="Signatures">Signatures:</td>
            <td>
              <table class="qp-annexes-signature__table" aria-label="Annexes">
                <tr>
                  <td><i class="fa fa-id-card qp-icon-pdf" aria-hidden="true"></i></td>
                  <td></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="right" aria-label="Created by">Created by Angela FLOOD</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
    <!--====  END of CONTENT  ====-->
    <!--=======================================
    =            SIMILAR QUESTIONS            =
    ========================================-->
    <mat-card>
      <mat-card-title aria-label="Similar Questions">Similar Questions</mat-card-title>
      <mat-card-content fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
          <div class="qp-content__table--label" fxFlex="20%">Question Number:</div>
          <div fxFlex="60%" fxLayoutAlign="start center">
            <mat-form-field class="qp-form-field--full-width" fxFlex="grow">
              <input matInput value="E-001976/2017" aria-label="Question Number" />
            </mat-form-field>
            <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab matTooltip="Delete Question Number" aria-label="Delete Question Number"><i class="fa fa-minus qp-icon-delete" aria-label="Delete Question Number" aria-hidden="true"></i></button>
          </div>
          <div fxFlex="20%" fxLayoutAlign="end">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
          <div class="qp-content__table--label" fxFlex="20%"></div>
          <div fxFlex="60%" fxLayoutAlign="start center">
            <mat-form-field class="qp-form-field--full-width" fxFlex="grow">
              <input matInput value="E-001958/2017" aria-label="Question Number" />
            </mat-form-field>
            <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab matTooltip="Delete Question Number" aria-label="Delete Question Number"><i class="fa fa-minus qp-icon-delete" aria-label="Delete Question Number" aria-hidden="true"></i></button>
          </div>
          <div fxFlex="20%" fxLayoutAlign="end">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
          <div fxFlex="20%"></div>
          <div fxFlex="60%" fxLayoutAlign="start center">
            <mat-form-field class="qp-form-field--full-width" fxFlex="grow">
              <input matInput aria-label="Question Number" />
            </mat-form-field>
            <button class="qp-button-action qp-button-action--suffix" mat-mini-fab matTooltip="Add Question Number" aria-label="Add Question Number"><i class="fa fa-plus qp-icon-add" aria-label="Add Question Number" aria-hidden="true"></i></button>
          </div>
          <div fxFlex="20%" fxLayoutAlign="end">
            <button class="qp-button-action mat-button mat-raised-button  qp-button-action--suffix" aria-label="Save">Save</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!--====  End of SIMILAR QUESTIONS  ====-->
  </div>
  <!--====  End of MAIN CONTENT  ====-->
  <!--==================================
  =            RIGHT PANELS            =
  ===================================-->
  <div class="qp-tab__right-panel" fxLayout="column" fxLayout.lt-md="row" fxLayoutGap="20px" fxFlex="25%" fxFlex.lt-md="100%">
    <!-- On the line above, fxLayoutGap="20px" = SCSS variable $qp-global-padding-margin: 20px; in variables.scss -->
    <mat-card fxFlex>
      <mat-card-title>Actions</mat-card-title>
      <mat-card-content class="qp-card-content__action">
        <mat-list>
          <!--========== Reserved for Registration ==========-->
          <div *ngIf="isReservedRegistration; then activeReserveForRegistration else inactiveReserveForRegistration"></div>
          <ng-template #activeReserveForRegistration>
            <mat-list-item class="qp-list-item__actions-list--inactive" (click)="showIsReservedRegistration()" aria-label="Reserve for Registration">
              <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Reserved for Registration
            </mat-list-item>
          </ng-template>
          <ng-template #inactiveReserveForRegistration>
            <mat-list-item class="qp-list-item__actions-list--active" (click)="showIsReservedRegistration()" aria-label="Reserve for Registration">
              <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Reserved for Registration
            </mat-list-item>
          </ng-template>
          <mat-divider></mat-divider>
          <!--========== Edit Question ==========-->
          <div *ngIf="isReservedRegistration; then activeEditQuestion else inactiveEditQuestion"></div>
          <ng-template #activeEditQuestion>
            <div *ngIf="pageTypeQuestionValue=='qpWeb'||pageTypeQuestionValue=='qeWeb'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogEditWebform()" aria-label="Edit Question"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Edit Question</span></mat-list-item>
            </div>
            <div *ngIf="pageTypeQuestionValue=='qo'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogEditQo()" aria-label="Edit Question"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Edit Question</span></mat-list-item>
            </div>
            <div *ngIf="pageTypeQuestionValue=='ik'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogEditIk()" aria-label="Edit Question"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Edit Question</span></mat-list-item>
            </div>
            <div *ngIf="pageTypeQuestionValue=='ig'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogEditIg()" aria-label="Edit Question"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Edit Question</span></mat-list-item>
            </div>
            <div *ngIf="pageTypeQuestionValue=='qpAtt'||pageTypeQuestionValue=='qeAtt'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogEditQpAtt()" aria-label="Edit Question"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Edit Question</span></mat-list-item>
            </div>
          </ng-template>
          <ng-template #inactiveEditQuestion>
            <mat-list-item class="qp-list-item__actions-list--inactive" aria-label="Edit Question"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Edit Question</mat-list-item>
          </ng-template>
          <mat-divider></mat-divider>
          <!--========== Register ==========-->
          <div *ngIf="isReservedRegistration; then activeRegister else inactiveRegister"></div>
          <ng-template #activeRegister>
            <mat-list-item class="qp-list-item__actions-list--active" (click)="showIsRegistered()" aria-label="Register">
              <span *ngIf="isRegistered" class="qp-list-item__actions-list--inactive">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Registered
    </span>
              <span *ngIf="!isRegistered">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Register
    </span>
            </mat-list-item>
          </ng-template>
          <ng-template #inactiveRegister>
            <mat-list-item class="qp-list-item__actions-list--inactive" aria-label="Register">
              <span *ngIf="isRegistered">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Registered
    </span>
              <span *ngIf="!isRegistered">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Register
    </span>
            </mat-list-item>
          </ng-template>
          <mat-divider></mat-divider>
          <!--========== Send Back to MEP ==========-->
          <div *ngIf="pageTypeQuestionValue=='qpWeb' || pageTypeQuestionValue=='qeWeb'">
            <div *ngIf="isReservedRegistration; then activeSendBackToMep else inactiveSendBackToMep"></div>
            <ng-template #activeSendBackToMep>
              <mat-list-item class="qp-list-item__actions-list--active" (click)="showIsSentBackToMep()" aria-label="Send Back to MEP">
                <span *ngIf="isSentBackToMep" class="qp-list-item__actions-list--inactive">
        <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Sent Back to MEP
      </span>
                <span *ngIf="!isSentBackToMep">
        <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Send Back to MEP
      </span>
              </mat-list-item>
            </ng-template>
            <ng-template #inactiveSendBackToMep>
              <mat-list-item class="qp-list-item__actions-list--inactive" aria-label="Send Back to MEP">
                <span *ngIf="isSentBackToMep">
        <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Sent Back to MEP
      </span>
                <span *ngIf="!isSentBackToMep">
        <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Send Back to MEP
      </span>
              </mat-list-item>
            </ng-template>
            <mat-divider></mat-divider>
          </div>
          <!--========== Create Revision ==========-->
          <div *ngIf="isReservedRegistration; then activeCreateRevision else inactiveCreateRevision"></div>
          <ng-template #activeCreateRevision>
            <div *ngIf="pageTypeQuestionValue=='qpAtt' || pageTypeQuestionValue=='qeAtt'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogCreateRevisionQpAtt()" aria-label="Create Revision">
                <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Create Revision</span></mat-list-item>
            </div>
            <!--==========  ==========-->
            <div *ngIf="pageTypeQuestionValue=='qpWeb' || pageTypeQuestionValue=='qeWeb'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogCreateRevisionQpWeb()" aria-label="Create Revision">
                <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Create Revision</span></mat-list-item>
            </div>
            <!--==========  ==========-->
            <div *ngIf="pageTypeQuestionValue=='qo'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogCreateRevisionQo()" aria-label="Create Revision">
                <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Create Revision</span></mat-list-item>
            </div>
            <!--==========  ==========-->
            <div *ngIf="pageTypeQuestionValue=='ik'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogCreateRevisionIk()" aria-label="Create Revision">
                <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Create Revision</span></mat-list-item>
            </div>
            <!--==========  ==========-->
            <div *ngIf="pageTypeQuestionValue=='ig'">
              <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogCreateRevisionIg()" aria-label="Create Revision">
                <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Create Revision</span></mat-list-item>
            </div>
            <!--==========  ==========-->
          </ng-template>
          <ng-template #inactiveCreateRevision>
            <mat-list-item class="qp-list-item__actions-list--inactive" aria-label="Create Revision"><i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Create Revision</mat-list-item>
          </ng-template>
          <mat-divider></mat-divider>
          <!--========== Cancel Question ==========-->
          <div *ngIf="isReservedRegistration; then activeCancelQuestion else inactiveCancelQuestion"></div>
          <ng-template #activeCancelQuestion>
            <mat-list-item class="qp-list-item__actions-list--active qp-list-item__actions-list--delete" (click)="openDialogCancelQuestion()" aria-label="Cancel Question"><i class="fa fa-times-circle qp-icon__actions-list qp-icon__actions-list--delete" aria-hidden="true"></i>Cancel Question</mat-list-item>
          </ng-template>
          <ng-template #inactiveCancelQuestion>
            <mat-list-item class="qp-list-item__actions-list--inactive" aria-label="Cancel Question"><i class="fa fa-times-circle qp-icon__actions-list qp-icon__actions-list--delete" aria-hidden="true"></i>Cancel Question</mat-list-item>
          </ng-template>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
      <mat-card-title>Participants</mat-card-title>
      <mat-card-content>
        <mat-list class="qp-card__list">
          <mat-list-item class="qp-card__list-title">Author(s):</mat-list-item>
          <!--========== Authors depending on type of question ==========-->
          <!--====================-->
          <div *ngIf="pageTypeQuestionValue=='qpAtt'||pageTypeQuestionValue=='qeAtt'">
            <mat-list-item>Josep-Maria TERRICABRAS</mat-list-item>
          </div>
          <!--====================-->
          <div *ngIf="pageTypeQuestionValue=='qpWeb' ||pageTypeQuestionValue=='qeWeb'">
            <mat-list-item>Josep-Maria TERRICABRAS</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Rania STATHOPOULOU</mat-list-item>
          </div>
          <!--====================-->
          <div *ngIf="pageTypeQuestionValue=='qo'||pageTypeQuestionValue=='ik'||pageTypeQuestionValue=='ig'">
            <mat-list-item>Bernd LANGE</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Josep-Maria TERRICABRAS</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Rania STATHOPOULOU</mat-list-item>
          </div>
          <!--========== END Authors depending on type of question ==========-->
          <div *ngIf="isReservedRegistration">
            <mat-list-item class="qp-card__list-title">Registration Officer:</mat-list-item>
            <mat-list-item>Angela FLOOD</mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!--====  End of RIGHT PANELS  ====-->
</div>
