<div mat-dialog-title class="qp-dialog-title--warn">
  Cancel/Withdraw Question
  <button mat-dialog-close mat-icon-button aria-label="Close">
    <mat-icon matTooltip="Close">cancel</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form>
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-select class="qp-form-field--full-width" required placeholder="Reason for cancelling" name="reasonCancelling" role="listbox" aria-label="Reason for cancelling">
              <mat-option *ngFor="let reasonCancelling of reasonsCancelling" [value]="reasonCancelling.value" role="option"> {{reasonCancelling.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-placeholder>Comments</mat-placeholder>
            <textarea #textarea maxlenght="100" matInput matTextareaAutosize matAutosizeMinRows="2" type="text" required aria-label="Comments"></textarea>
            <mat-hint align="end">{{textarea.value?.length || 0}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-raised-button class="qp-button-warn" (click)="onCloseCancelQuestion()" aria-label="Cancel question">Cancel Question</button>
</div>
