<div mat-dialog-title>
  Maintain the question
  <button mat-dialog-close mat-icon-button aria-label="Close">
    <mat-icon matTooltip="Close">cancel</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form>
    <div fxLayout="column" fxLayoutGap="20px">
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-select class="qp-form-field--full-width" required placeholder="Reason for maintaining" name="reasonMaintaining" role="listbox" aria-label="Reason for maintaining">
              <mat-option *ngFor="let reasonMaintaining of reasonsMaintaining" [value]="reasonMaintaining.value" role="option"> {{reasonMaintaining.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-placeholder>Comments</mat-placeholder>
            <textarea #textarea maxlenght="100" matInput matTextareaAutosize matAutosizeMinRows="2" type="text" required aria-label="Comments"></textarea>
            <mat-hint align="end">{{textarea.value?.length || 0}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button class="qp-button-action" mat-button mat-raised-button (click)="onCloseMaintain()" aria-label="Maintain the question">Maintain the question</button>
</div>
