<div class="qp-tab__container qp-color__diffusion">
  <mat-card class="qp-card__status-info--pending-registration">
    <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status">
      <i class="fa fa-exclamation-triangle qp-icon__status-info" aria-hidden="true"></i>Diffusion
    </mat-card-header>
  </mat-card>
  <p>
    <mat-card>
      <mat-card-title>
        Diffusion
      </mat-card-title>
      <mat-card-content>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
      </mat-card-content>
    </mat-card>
  </p>
</div>
