<div class="qp-tab__container qp-color__admissibility" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly start" fxLayoutGap="20px">
  <!-- fxLayoutGap="20px" = SCSS variable $qp-global-padding-margin: 20px; in variables.scss -->
  <!--==================================
  =            MAIN CONTENT            =
  ===================================-->
  <div class="qp-tab__main-panel" fxLayout="column" fxLayoutGap="20px" fxFlex="75%" fxFlex.gt-sm="100%">
    <!--============================
    =            STATUS            =
    =============================-->
    <!--========== Status No Admissibility Issue ==========-->
    <div *ngIf="!isSuspended || isRevisionAccepted">
      <mat-card class="qp-card__status-info--registered">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status"><i class="fa fa-check-circle qp-icon__status-info" aria-hidden="true"></i>No Admissibility Issue (22/03/2017)</mat-card-header>
      </mat-card>
    </div>
    <div *ngIf="isSuspended">
      <mat-card class="qp-card__status-info--sent-back-to-mep">
        <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status">
          <i class="fa fa-exclamation-triangle qp-icon__status-info" aria-hidden="true"></i>Suspended (19/03/2017)
        </mat-card-header>
      </mat-card>
    </div>
    <!--========== END Status No Admissibility Issue ==========-->
    <!--====  End of STATUS  ====-->
    <!--==========================
    =            GEDA            =
    ===========================-->
    <mat-card>
      <mat-card-title aria-label="GEDA">GEDA</mat-card-title>
      <mat-card-content>
        <table class="qp-table--geda">
          <!--==========  ==========-->
          <tr>
            <td class="qp-content__table--label" width="20%">To President's cabinet:</td>
            <td width="40%">
              <mat-form-field>
                <input class="qp-form-field--full-width" matInput placeholder="GEDA ID" aria-label="GEDA ID" />
              </mat-form-field>
            </td>
            <td width="40%">
              <mat-form-field>
                <input class="qp-form-field--full-width" matInput [matDatepickerFilter]="filterWithoutSatSun" [matDatepicker]="dateSentPresident" placeholder="Date sent" value="" aria-label="Date sent" />
                <!-- [touchUi]="true" (for tablets) -->
                <mat-datepicker #dateSentPresident></mat-datepicker>
              </mat-form-field>
              <button class="qp-button-action qp-button-action--calendar qp-button-action--suffix" mat-mini-fab (click)="dateSentPresident.open()" aria-label="Select Date Sent"> <i class="fa fa-calendar" matTooltip="Select Date Sent" aria-hidden="true"></i> </button>
            </td>
          </tr>
          <!--==========  ==========-->
          <tr>
            <td class="qp-content__table--label" width="20%">To the author:</td>
            <td width="40%">
              <mat-form-field>
                <input class="qp-form-field--full-width" matInput placeholder="GEDA ID" aria-label="GEDA ID" />
              </mat-form-field>
            </td>
            <td width="40%">
              <mat-form-field>
                <input class="qp-form-field--full-width" matInput [matDatepickerFilter]="filterWithoutSatSun" [matDatepicker]="dateSentAuthor" placeholder="Date sent" value="" aria-label="Date sent" />
                <!-- [touchUi]="true" (for tablets) -->
                <mat-datepicker #dateSentAuthor></mat-datepicker>
              </mat-form-field>
              <button class="qp-button-action qp-button-action--calendar qp-button-action--suffix" mat-mini-fab (click)="dateSentAuthor.open()" aria-label="Select Date Sent"> <i class="fa fa-calendar" matTooltip="Select Date Sent" aria-hidden="true"></i> </button>
            </td>
          </tr>
          <!--==========  ==========-->
          <tr>
            <td colspan="3" align="right">
              <button class="qp-button-action mat-button mat-raised-button  qp-button-action--suffix" aria-label="Save">Save</button>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
    <!--====  End of SIMILAR QUESTIONS  ====-->
  </div>
  <!--====  End of MAIN CONTENT  ====-->
  <!--==================================
  =            RIGHT PANELS            =
  ===================================-->
  <div class="qp-tab__right-panel" fxLayout="column" fxLayout.lt-md="row" fxLayoutGap="20px" fxFlex="25%" fxFlex.lt-md="100%">
    <!-- On the line above, fxLayoutGap="20px" = SCSS variable $qp-global-padding-margin: 20px; in variables.scss -->
    <mat-card fxFlex>
      <mat-card-title>Actions</mat-card-title>
      <mat-card-content class="qp-card-content__action">
        <mat-list>
          <!--========== Suspend ==========-->
          <mat-list-item class="qp-list-item__actions-list--active" (click)="showIsSuspended()" aria-label="Register">
            <span *ngIf="isSuspended" class="qp-list-item__actions-list--inactive">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Suspended
    </span>
            <span *ngIf="!isSuspended">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Suspend
    </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <!--========== Accept Revision ==========-->
          <mat-list-item class="qp-list-item__actions-list--active" (click)="showIsRevisionAccepted()" aria-label="Register">
            <span *ngIf="isRevisionAccepted" class="qp-list-item__actions-list--inactive">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Revision Accepted
    </span>
            <span *ngIf="!isRevisionAccepted">
      <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Accept Revision
    </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <!--========== Maintain ==========-->
          <mat-list-item class="qp-list-item__actions-list--active" (click)="openDialogMaintain()" aria-label="Maintain">
            <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i><span>Maintain</span></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
      <mat-card-title>Participants</mat-card-title>
      <mat-card-content>
        <mat-list class="qp-card__list">
          <mat-list-item class="qp-card__list-title">Author(s):</mat-list-item>
          <!--========== Authors depending on type of question ==========-->
          <mat-list-item>Josep-Maria TERRICABRAS</mat-list-item>
          <!--========== END Authors depending on type of question ==========-->
          <mat-list-item class="qp-card__list-title">Registration Officer:</mat-list-item>
          <mat-list-item>Angela FLOOD</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!--====  End of RIGHT PANELS  ====-->
</div>
