<!--============================
=            HEADER            =
=============================-->
<app-header pageTypeQuestionValue="{{pageTypeQuestion}}"></app-header>
<!--====  End of HEADER  ====-->
<!--=============================
=            CONTENT            =
==============================-->
<div class="qp-main-content">
  <mat-tab-group>
    <!-- <mat-tab class="qp-color__admissibility" label="Admissibility" aria-label="Admissibility">
      <app-question-admissibility-administrator></app-question-admissibility-administrator>
    </mat-tab> -->
    <mat-tab>
      <ng-template mat-tab-label aria-label="Registration">Registration
        <!-- TEMPORARY MENU TO SHOW ALL VARIANTS OF THE TAB "REGISTRATION" -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="qp-carret-show-for-dev-only">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>(For DEV only)</button>
          <button mat-menu-item (click)="statusQuestionRegistrationQpAttachment()">QP (Attachment)</button>
          <button mat-menu-item (click)="statusQuestionRegistrationQpWebform()">QP (Webform)</button>
          <button mat-menu-item (click)="statusQuestionRegistrationQEAttachment()">QE (Attachment)</button>
          <button mat-menu-item (click)="statusQuestionRegistrationQeWebform()">QE (Webform)</button>
          <button mat-menu-item (click)="statusQuestionRegistrationQO()">QO</button>
          <button mat-menu-item (click)="statusQuestionRegistrationIK()">IK</button>
          <button mat-menu-item (click)="statusQuestionRegistrationIG()">IG</button>
        </mat-menu>
        <!-- END - TEMPORARY MENU TO SHOW ALL VARIANTS OF THE TAB "REGISTRATION" -->
      </ng-template>
      <app-question-registration pageTypeQuestionValue="{{pageTypeQuestion}}"></app-question-registration>
    </mat-tab>
    <mat-tab label="Translation" aria-label="Translation">
      <app-question-translation></app-question-translation>
    </mat-tab>
    <!-- <mat-tab class="qp-color__precedent" label="Precedent" aria-label="Precedent">
      <app-precedent></app-precedent>
    </mat-tab> -->
    <mat-tab label="Admissibility" aria-label="Admissibility">
      <app-question-admissibility-administrator></app-question-admissibility-administrator>
    </mat-tab>
    <mat-tab label="Diffusion" aria-label="Diffusion">
      <app-diffusion></app-diffusion>
    </mat-tab>
    <div *ngIf="pageTypeQuestion!='qo'">
      <mat-tab label="Answer" aria-label="Answer">
        <app-answer></app-answer>
      </mat-tab>
    </div>
    <div *ngIf="pageTypeQuestion=='qo'">
      <mat-tab label="Session" aria-label="Session">
        <app-answer></app-answer>
      </mat-tab>
    </div>
    <mat-tab label="History" aria-label="History">
      <app-history></app-history>
    </mat-tab>
  </mat-tab-group>
</div>
<!--====  End of CONTENT  ====-->
<!--============================
=            FOOTER            =
=============================-->
<app-footer></app-footer>
<!--====  End of FOOTER  ====-->
