<div mat-dialog-title>New Revision (QO)
  <button mat-dialog-close mat-icon-button aria-label="Close">
    <mat-icon matTooltip="Close">cancel</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form>
    <div fxLayout="column">
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <input type="text" #input maxlength="50" required matInput placeholder="Subject" aria-label="Subject" />
            <mat-hint align="end">{{input.value?.length || 0}} / 50</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <div class="qp-annexes-signatures--label">Author(s):</div>
        <table class="qp-authors-qo__table" aria-label="Author(s)">
          <tr>
            <td class="qp-content__table--label" colspan="5" align="right">Total number of Authors: 3</td>
          </tr>
          <tr>
            <td>Séquence number</td>
            <td>Author Name</td>
            <td>On behalf of...</td>
            <td align="center">Signed</td>
            <td align="center">Actions</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Bernd LANGE</td>
            <td>Committee of International Trade</td>
            <!-- <td>
              <button class="qp-button-action qp-button-check qp-button-action--suffix" mat-mini-fab aria-label="Signed"> <i class="fa fa-check" matTooltip="Signed" aria-hidden="true"></i> </button>
              <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Not signed"> <i class="fa fa-times" matTooltip="Not signed" aria-hidden="true"></i> </button>
            </td> -->
            <td align="center">
              <mat-checkbox checked="true"></mat-checkbox>
            </td>
            <td align="center">
              <button class="qp-button-action qp-button-plus qp-button-action--suffix" mat-mini-fab aria-label="Add Author"> <i class="fa fa-plus" matTooltip="Add Author" aria-hidden="true"></i> </button>
              <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Author"> <i class="fa fa-minus" matTooltip="Delete Author" aria-hidden="true"></i> </button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Josep-Maria TERRICABRAS</td>
            <td>PPE</td>
            <td align="center">
              <mat-checkbox checked="true"></mat-checkbox>
            </td>
            <td align="center">
              <button class="qp-button-action qp-button-plus qp-button-action--suffix" mat-mini-fab aria-label="Add Author"> <i class="fa fa-plus" matTooltip="Add Author" aria-hidden="true"></i> </button>
              <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Author"> <i class="fa fa-minus" matTooltip="Delete Author" aria-hidden="true"></i> </button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Rania STATHOPOULOU</td>
            <td>Individual</td>
            <td align="center">
              <mat-checkbox></mat-checkbox>
            </td>
            <td align="center">
              <button class="qp-button-action qp-button-plus qp-button-action--suffix" mat-mini-fab aria-label="Add Author"> <i class="fa fa-plus" matTooltip="Add Author" aria-hidden="true"></i> </button>
              <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Author"> <i class="fa fa-minus" matTooltip="Delete Author" aria-hidden="true"></i> </button>
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex class="qp-dialog--label-responsible">
        <span class="qp-content__table--label" aria-label="Supporters">Responsible:</span>Bernd LANGE
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-select required placeholder="Addressee" name="addressee" role="listbox" aria-label="Addressee">
              <mat-option *ngFor="let addressee of addressees" [value]="addressee.value" role="option"> {{addressee.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field fxFlex="grow">
            <mat-select placeholder="Language" name="language" required aria-label="Language">
              <mat-option *ngFor="let language of languages" [value]="language.value"> {{language.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="none">
            <button class="qp-button-warn qp-button-action--suffix" mat-mini-fab aria-label="Warning"> <i class="fa fa-exclamation" aria-hidden="true"></i> </button>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex="70%">
            <input required matInput [matDatepickerFilter]="filterWithoutSatSun" [matDatepicker]="submissionDate" placeholder="Submission date" value="" aria-label="Submission date" />
            <!-- [touchUi]="true" (for tablets) -->
            <mat-datepicker #submissionDate></mat-datepicker>
          </mat-form-field>
          <div fxFlex="none" fxLayoutAlign="center center">
            <button class="qp-button-action qp-button-action--calendar qp-button-action--suffix" mat-mini-fab (click)="submissionDate.open()" aria-label="Select Submission Date"> <i class="fa fa-calendar" matTooltip="Select Submission Date" aria-hidden="true"></i> </button>
          </div>
          <mat-form-field fxFlex="15%">
            <mat-select required placeholder="Hours" name="hour" aria-label="Hour">
              <mat-option *ngFor="let hour of hours" [value]="hour.value"> {{hour.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
          <span fxFlex fxLayoutAlign="center center" class="qp-time-separator">h</span>
          <mat-form-field fxFlex="15%">
            <mat-select required placeholder="Minutes" name="minute" aria-label="minute">
              <mat-option *ngFor="let minute of minutes" [value]="minute.value"> {{minute.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="column">
          <div fxFlex class="qp-textarea__header--wysiwyg" aria-label="Superscript and ordered list"> <i class="fa fa-superscript qp-icon-wysiwyg" aria-hidden="true"></i> <i class="fa fa-list-ol qp-icon-wysiwyg" aria-hidden="true"></i> </div>
          <div fxFlex>
            <div fxLayout="row">
              <mat-form-field fxFlex>
                <textarea type="text" #textarea placeholder="Question" maxlength="200" matInput matTextareaAutosize matAutosizeMinRows="2" required aria-label="Question"></textarea>
                <mat-hint align="end">{{textarea.value?.length || 0}} / 200</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex class="qp-dialog--label-supporters">
        <span class="qp-content__table--label" aria-label="Supporters">Supporter(s):</span> Rania STATHOPOULOU
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
          <div fxFlex>
            <div class="qp-annexes-signatures--label">Annexe(s):</div>
            <table class="qp-annexes-signature__table" aria-label="Annexes">
              <tr>
                <td><i class="fa fa-file-pdf-o qp-icon-pdf" aria-hidden="true"></i></td>
                <td>Annex to the Reply of Written Question E-5442/2017</td>
                <td align="right">
                  <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Annexe"> <i class="fa fa-minus" matTooltip="Delete Annexe" aria-hidden="true"></i> </button>
                </td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o qp-icon-pdf" aria-hidden="true"></i></td>
                <td>Annexes to Reply - Your Question E-5419/2017</td>
                <td align="right">
                  <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Annexe"> <i class="fa fa-minus" matTooltip="Delete Annexe" aria-hidden="true"></i> </button>
                </td>
              </tr>
              <tr>
                <td><i class="fa fa-file-pdf-o qp-icon-pdf" aria-hidden="true"></i></td>
                <td>Order of business.</td>
                <td align="right">
                  <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Annexe"> <i class="fa fa-minus" matTooltip="Delete Annexe" aria-hidden="true"></i> </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td align="right">
                  <button class="qp-button-action qp-button-action--suffix" mat-mini-fab aria-label="Add annexe"> <i class="fa fa-plus" matTooltip="Add annexe" aria-hidden="true"></i> </button>
                </td>
              </tr>
            </table>
          </div>
          <div fxFlex>
            <div class="qp-annexes-signatures--label">Signature(s):</div>
            <table class="qp-annexes-signature__table" aria-label="Signatures">
              <tr>
                <td><i class="fa fa-id-card qp-icon-pdf" aria-hidden="true"></i></td>
                <td></td>
                <td align="right">
                  <button class="qp-button-delete qp-button-action--suffix" mat-mini-fab aria-label="Delete Signature"> <i class="fa fa-minus" matTooltip="Delete Signature" aria-hidden="true"></i> </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td align="right">
                  <button class="qp-button-action qp-button-action--suffix" mat-mini-fab aria-label="Add Signature"> <i class="fa fa-plus" matTooltip="Add Signature" aria-hidden="true"></i> </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-select required placeholder="Reason" name="reasonRevision" role="listbox" aria-label="Reason">
              <mat-option *ngFor="let reasonRevision of reasonsRevision" [value]="reasonRevision.value" role="option"> {{reasonRevision.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <textarea type="text" #comments placeholder="Comments" matInput matTextareaAutosize matAutosizeMinRows="2" aria-label="Comments"></textarea>
            <mat-hint align="end">{{comments.value?.length || 0}} / 200</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-raised-button (click)="onCloseSave()" aria-label="Save">Save</button>
  <button class="qp-button-action" mat-button mat-raised-button (click)="onCloseSave()" aria-label="Save">Save and request new translation</button>
</div>
