<div class="qp-tab__container">
  <p>
    <mat-card>
      <mat-card-title> Precedent </mat-card-title>
      <mat-card-content>
        <div class="qp-tab__container">
          <p class="qp-test-color">content content content content</p>
        </div>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
        <div class="qp-tab__container">
          <p>content content content content</p>
        </div>
      </mat-card-content>
    </mat-card>
  </p>
</div>
