/**
*
* CARDS
*
*/

.mat-card {
  padding: 0 !important;
  .mat-card-title {
    font-size: 1rem;
    font-weight: 500;

    margin: 0;
    padding: $qp-global-padding-margin/2 $qp-global-padding-margin/5*4;

    color: $qp-card__title--color;
    background-color: $qp-card__title--bgcolor;
  }
  .mat-card-content {
    padding: $qp-global-padding-margin/2 $qp-global-padding-margin;
  }
  .qp-card-content__action {
    margin: 0;
    padding: 0;
    mat-list,
    mat-nav-list {
      padding-top: 0;
    }
    /*
.mat-list-item-content:hover {
color: $qp-font-color--light !important;
background-color: $qp-color--accent;
i.fa {
color: $qp-font-color--light;
}
}
*/
    .qp-list-item__actions-list--active:hover {
      cursor: pointer;

      color: $qp-font-color--light !important;
      background-color: $qp-color--accent;
      i.fa {
        color: $qp-font-color--light;
      }
    }
    .qp-list-item__actions-list--inactive,
    .qp-list-item__actions-list--inactive:hover {
      cursor: default;

      color: $qp-list-item__actions-list--inactive-color;
      background-color: transparent !important;
      i.fa {
        color: $qp-list-item__actions-list--inactive-color !important;
      }
    }
  }
  .qp-list-item__actions-list--delete {
    .mat-list-item-content:hover {
      background-color: $qp-color--warn;
    }
  }
}

.qp-tab__right-panel {
  width: 100%;
  .mat-card-content,
  mat-list {
    margin: 0 !important;
    padding: 0 !important;
  }
  .mat-list-item-content {
    height: $qp-global-padding-margin*2 !important;
  }
}

.qp-card__list {
  .qp-card__list-title {
    background-color: lighten($qp-color--primary, 45%);
  }
}





























/*===================================
=            STATUS INFO            =
===================================*/

.qp-card__status-info--pending-registration {
  .mat-card-header {
    padding: $qp-global-padding-margin/2;

    color: $qp-color--accent;
    border: $qp-global-padding-margin/4 solid $qp-color--accent;
  }
}

.qp-card__status-info--registered,
.qp-card__status-info--sent-back-to-mep {
  .mat-card-header {
    padding: $qp-global-padding-margin/2;

    color: $qp-color--primary;
    border: $qp-global-padding-margin/4 solid lighten($qp-color--primary, 30%);
  }
}

.qp-card__status-info--registered {
  .fa {
    color: $qp-color--success;
  }
}

.qp-card__status-info--sent-back-to-mep {
  .fa {
    color: lighten($qp-color--sent-back, 25%);
  }
}





























/*=====  End of STATUS INFO  ======*/
