/**
*
* COLORS
*
*/

@import'~@angular/material/theming';
@include mat-core();
$mat-color--primary: mat-palette($mat-blue-grey, 600);
$mat-color--accent: mat-palette($mat-cyan, 500);
$mat-color--warn: mat-palette($mat-red, A700);
$mat-color--theme: mat-light-theme($mat-color--primary, $mat-color--accent, $mat-color--warn);
@include angular-material-theme($mat-color--theme);
// Test
// .mat-color2--theme {
//   $mat-color2--primary: mat-palette($mat-red, 600);
//   $mat-color2--accent: mat-palette($mat-yellow, 500);
//   $mat-color2--warn: mat-palette($mat-green);
//   $mat-color2--theme: mat-light-theme($mat-color2--primary, $mat-color2--accent, $mat-color2--warn);
//   @include angular-material-theme($mat-color2--theme);
// }
// End Test

/*===============================
=            GENERAL            =
===============================*/

$qp-font-color--light: #fff;
$qp-content--bgcolor: #eceff1;
$qp-color--success: #cddc39;





/*=====  End of GENERAL  ======*/


/*========================================================
=            ANGULAR MATERIAL COLORS OVERRIDE            =
========================================================*/

$qp-color--primary: mat-color($mat-color--primary);
$qp-color--accent: mat-color($mat-color--accent);
$qp-color--warn: mat-color($mat-color--warn);
$qp-color--delete: $qp-color--warn;





/*=====  End of ANGULAR MATERIAL COLORS OVERRIDE  ======*/


/*============================
=            BODY            =
============================*/

$qp-body--bgcolor: lighten($qp-color--primary, 22%);





/*=====  End of BODY  ======*/


/*==============================
=            HEADER            =
==============================*/

$qp-header--bgcolor: $qp-color--primary;
$qp-header--color: $qp-font-color--light;





/*=====  End of HEADER  ======*/


/*============================
=            CARD            =
============================*/

$qp-card__title--bgcolor: lighten($qp-color--primary, 28%);
$qp-card__title--color: $qp-font-color--light;
$qp-list-item__actions-list--inactive-color: #a3bac1;





/*=====  End of CARD  ======*/


/*===============================
=            DIALOGS            =
===============================*/


/*=====  End of DIALOGS  ======*/


/*============================
=            TABS            =
============================*/

$qp-tab-label-active--bgcolor: #e4e8eb;
$qp-tab-label-active--color: #263238;





/*=====  ADMISSIBILITY  =====*/


/* OK
$qp-color__admissibility: #ba68c8;
.qp-color__admissibility {
.mat-tab-label:hover {
background-color: $qp-color__admissibility !important;
}
.mat-card-header {
color: $qp-color__admissibility !important;
border: 5px solid $qp-color__admissibility !important;
;
}
}
*/

@mixin qp-tab--color-theme($qp-color-theme) {
  .mat-tab-label:hover {
    background-color: $qp-color-theme !important;
  }
  .mat-card-header {
    color: $qp-color-theme !important;
    border: 5px solid $qp-color-theme !important;
    ;
  }
  .mat-ink-bar & {
    background-color: $qp-color-theme !important;
  }
}

.qp-color__registration {
  @include qp-tab--color-theme(#cddc39);
}

.qp-color__translation {
  @include qp-tab--color-theme(#00BFD3);
}

.qp-color__admissibility {
  @include qp-tab--color-theme(#f06292);
}

.qp-color__diffusion {
  @include qp-tab--color-theme(#ffb74d);
}

.qp-color__answer {
  @include qp-tab--color-theme(#ba68c8);
}

.qp-color__history {
  @include qp-tab--color-theme(#ff8a65);
}






/*=====  End of TABS  ======*/


/*===============================
=            BUTTONS            =
===============================*/

$qp-tab-label-active--bgcolor: #e4e8eb;





/*=====  End of BUTTONS  ======*/

$qp-fab-add--bgcolor: $qp-color--accent;





/*=============================
=            ICONS            =
=============================*/

$qp-icon-pdf--color: #f44336;
$qp-icon-word--color: #304ffe;
$qp-icon-edit--color: $qp-color--accent;
$qp-icon__fab--color: $qp-font-color--light;
$qp-color--sent-back: $qp-color--warn;





/*=====  End of ICONS  ======*/


/*==============================
=            FOOTER            =
==============================*/

$qp-footer--bgcolor: lighten($qp-color--primary, 10%);
$qp-footer--color: $qp-font-color--light;





/*=====  End of FOOTER  ======*/
