/*==========================================
=          ! FOR DEBUGGING ONLY !          =
=         HAS TO BE REMOVED IN PROD        =
==========================================*/

.testa {
  border: 1px solid #E91E63 !important;
}

.testb {
  border: 1px solid #673ab7 !important;
}

.testc {
  border: 1px solid #2196F3 !important;
}

.testd {
  border: 1px solid #00bcd4 !important;
}

.teste {
  border: 1px solid #4caf50 !important;
}

.testf {
  border: 1px solid #cddc39 !important;
}

.qp-todo--for-test {
  color: #E91E63;
  font-size: .8rem;
  font-style: italic;
}

.qp-color__registration {
  // $qp-color--accent: #fc0; // TODO: Delete this, it's a test to change color on each tab
}

.qp-test {
  div {
    border: 1px dashed #f00 !important;
  }
}

.qp-carret-show-for-dev-only {
  margin-left: 4px !important;
  &:hover {
    background-color: #b2ebf2;
    color: #00bcd4;
  }
}






















/*=====  End of FOR DEBUGGING ONLY  ======*/
