/**
*
* DIALOGS
*
*/

div[mat-dialog-title] {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  margin: -24px -24px 0 -24px; // -24px = Reinitialization
  padding: $qp-global-padding-margin/4 $qp-global-padding-margin;
  color: $qp-card__title--color !important;
  background-color: $qp-card__title--bgcolor;
  button[mat-dialog-close] {
    position: absolute;
    top: 0;
    right: 0;
    color: darken($qp-font-color--light, 15%);
    &:hover {
      color: $qp-font-color--light;
    }
  }
}

div[mat-dialog-content] {
  margin-right: -24px; // -24px = Reinitialization
  margin-left: -24px; // -24px = Reinitialization
  padding: $qp-global-padding-margin;
}

div[mat-dialog-actions] {
  margin-right: -24px; // -24px = Reinitialization
  margin-left: -24px; // -24px = Reinitialization
  padding-right: $qp-global-padding-margin;
  background-color: lighten($qp-color--primary, 50%);
}

.qp-dialog-title--warn {
  background-color: $qp-color--warn !important;
}

.qp-dialog--label-supporters {
  margin: $qp-global-padding-margin 0;
}

.qp-dialog--label-responsible {
  margin-top: $qp-global-padding-margin;
}
