  /**
*
* FOOTER
*
*/

  footer {
    font-size: $qp-footer--font-size;

    padding: $qp-footer--padding;

    color: $qp-footer--color;
    background-color: $qp-footer--bgcolor;
    div {
      margin-right: $qp-global-padding-margin;
    }
  }
