/**
*
* FORMS
*
*/


/*============================
=            FORM            =
============================*/

.mat-input-underline .mat-input-ripple {
  background-color: $qp-color--accent;
}

:not(.mat-select-disabled).mat-primary.mat-select:focus .mat-select-trigger,
:not(.mat-select-disabled).mat-primary.mat-select:focus .mat-select-arrow {
  color: $qp-color--accent !important;
}

.mat-select:focus:not(.mat-select-disabled) {
  color: $qp-color--accent !important;
}






/*=====  End of FORM  ======*/


/*=============================
=            INPUT            =
=============================*/

input,
select,
mat-select {
  height: 1.8rem !important;
  padding-top: $qp-global-padding-margin/4;
  vertical-align: middle !important;
}

input,
mat-select,
textarea {
  background-color: lighten($qp-color--primary, 54%) !important;
}

.mat-input-placeholder,
.mat-select-placeholder {
  font-size: 0.9rem !important; //margin-top: 5px;
  color: $qp-color--primary;
}






/*=====  End of INPUT  ======*/


/*==============================
=            BUTTON            =
==============================*/

.qp-button-action {
  cursor: pointer;
  color: $qp-font-color--light !important;
  background-color: $qp-color--accent !important;
  &:hover {
    background-color: darken($qp-color--accent, 10%) !important;
  }
}

.qp-button-action--suffix {
  margin-left: $qp-global-padding-margin/2 !important;
}

button.qp-button-action--calendar {
  margin-right: $qp-global-padding-margin*2;
  margin-bottom: 5px;
}

.qp-button-warn {
  color: $qp-font-color--light !important;
  background-color: $qp-color--warn !important;
}

.qp-button-delete {
  color: lighten($qp-color--primary, 20%) !important;
  background-color: lighten($qp-color--primary, 50%) !important;
  &:hover {
    color: $qp-font-color--light !important;
    background-color: $qp-color--delete !important;
  }
}


/*=====  End of BUTTON  ======*/


/*====================================
=            RADIO BUTTON            =
====================================*/


/*=====  End of RADIO BUTTON  ======*/


/*====================================
=            TEXTAREA            =
====================================*/

textarea {
  min-height: 3rem !important; // TODO: change this default value with Angular Material directive
  padding: $qp-global-padding-margin/4 0 !important;
}

.qp-textarea__header--wysiwyg {
  position: relative;
  z-index: 999;
  top: 25px;
  right: 0;
  margin-top: -25px;
  text-align: right;
}






/*=====  End of TEXTAREA  ======*/


/*================================
=            CALENDAR            =
================================*/

.mat-calendar-body-selected {
  background-color: $qp-color--accent;
}

.mat-calendar-body-today {
  border-color: $qp-color--accent !important;
}

.qp-time-separator {
  margin: 0 $qp-global-padding-margin/2;
}






/*=====  End of CALENDAR  ======*/
