html {
  height: 100vh;
  min-height: 100vh;
}

html,
body {
  margin: 0;

  text-rendering: optimizeLegibility;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: $qp-body--bgcolor;
}

* {
  letter-spacing: 0 !important;
}



/*
*[placeholder] {
  position: relative;
  //top: 20px;
}
*/

.qp-main-content {
  background-color: $qp-content--bgcolor;
}

.qp-label {
  font-size: .9rem;

  margin-right: 8px;

  color: lighten($qp-color--primary, 35%);
}
