/**
*
* HEADER
*
*/

.qp-header__top-menu--logo {
  //border-radius: 50%;
  width: 72px;
  height: 72px;
  color: $qp-header--color; // background-color: darken($qp-header--bgcolor, 2%);
  border: 0;
}

.qp-header__top-menu--container {
  background-color: darken($qp-header--bgcolor, 4%);
}


.qp-header__top-menu {
  color: $qp-header--color;
  border: 0 !important;
  background-color: lighten($qp-header--bgcolor, 4%);
  padding: 0 !important;
  margin: 0 !important;
}

.qp-header__top-main-menu {
  padding: 0 $qp-global-padding-margin;
  border: 0 !important;
  height: 100%;

  color: $qp-header--color;
  background-color: $qp-header--bgcolor;
  .qp-header__account {
    font-size: .7rem;

    color: lighten($qp-color--primary, 35%);
  }
  .qp-header__account--name {
    font-weight: 700;

    margin-top: 4px;
    margin-right: $qp-global-padding-margin;
  }
  .qp-header__account--signed-as {
    margin-top: 4px;
    margin-right: $qp-global-padding-margin/4;
    margin-left: $qp-global-padding-margin/4;
  }
  .qp-header__search-container {
    margin-right: $qp-global-padding-margin/2 !important;
    .mat-form-field-underline {
      bottom: 0;

      background-color: lighten($qp-color--primary, 10%) !important;
    }
    .mat-form-field-infix {
      padding-top: 0;
      padding-bottom: 0;

      border-top: 0;
    }
    .mat-form-field-wrapper {
      margin-bottom: 0;
      padding-bottom: 0;
      .material-icons {
        vertical-align: bottom;
      }
    }
    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }
  .qp-header__search-field {
    font-size: .9rem;

    color: $qp-font-color--light !important;
    background-color: $qp-header--bgcolor !important;
  }
}

.qp-header__title {
  font-size: 1.5rem;

  margin-bottom: $qp-global-padding-margin/2;

  border-bottom: 1px solid lighten($qp-color--primary, 20%);
}

.qp-header__information {
  font-size: .9rem;

  padding: $qp-global-padding-margin/2 $qp-global-padding-margin;

  color: $qp-font-color--light;
  background-color: lighten($qp-color--primary, 10%);
}

.qp-header__addressee--icon {
  padding-bottom: $qp-global-padding-margin/4;
}

.qp-header__action-icon {
  &:hover {
    padding: 4px;

    border-radius: 50%;
    background-color: $qp-color--accent;
  }
}

.qp-header__button {
  &:hover {
    background-color: $qp-color--accent;
  }
}
