/**
*
* ICONS
*
*/

i.fa {
  font-size: 1.5rem;
}

.qp-icon-edit {
  margin-right: $qp-global-padding-margin/2;

  cursor: pointer;
}

.qp-icon-pdf {
  margin-right: $qp-global-padding-margin/2;

  cursor: pointer;

  color: $qp-icon-pdf--color;
}

.qp-icon-word {
  margin-right: $qp-global-padding-margin/2;

  cursor: pointer;

  color: $qp-icon-word--color;
}

.qp-icon__actions-list {
  font-size: .6rem !important;
  line-height: .6rem !important;

  margin-right: $qp-global-padding-margin;

  vertical-align: middle !important;

  color: $qp-color--primary;
}

.qp-icon__actions-list--delete {
  font-size: 1.2rem !important;

  margin-right: 14px;
  margin-left: -4px;

  color: $qp-color--warn;
}

.qp-icon__status-info {
  font-size: 4rem !important;

  margin-right: $qp-global-padding-margin;
}


.qp-icon-language,
.qp-icon-type-of-question {
  font-size: 1.2rem;
  line-height: 1.5rem;

  position: relative;

  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;

  text-align: center !important;

  border-radius: 50%;
}

.qp-icon-language {
  margin-left: $qp-global-padding-margin/2;

  color: lighten($qp-color--primary, 30%);
  border: .1rem solid lighten($qp-color--primary, 30%);
}

.qp-icon-type-of-question {
  font-weight: 700;

  color: $qp-font-color--light;
  border: .1rem solid $qp-color--accent;
  background-color: $qp-color--accent;
}

.qp-icon-type-of-question-ig {
  font-weight: 700;

  color: $qp-font-color--light;
  border: .1rem solid #9c27b0;
  background-color: #9c27b0;
}

.qp-icon-type-of-question-ik {
  font-weight: 700;

  color: $qp-font-color--light;
  border: .1rem solid #9e9d24;
  background-color: #9e9d24;
}

.qp-icon-type-of-question-qo {
  font-weight: 700;

  color: $qp-font-color--light;
  border: .1rem solid #388e3c;
  background-color: #388e3c;
}

.qp-icon-wysiwyg {
  font-size: 1.1rem !important;
  line-height: 1.2rem;

  position: relative;

  width: 1.2rem;
  height: 1.2rem;
  margin-right: $qp-global-padding-margin/4;
  padding: 5px;

  cursor: pointer;
  text-align: center !important;

  color: lighten($qp-color--primary, 20%);
  border-radius: 4px;
  background-color: lighten($qp-color--primary, 50%);
  &:hover {
    color: $qp-font-color--light;
    background-color: $qp-color--accent;
  }
}
