  /**
*
* TABLES
*
*/

  .qp-content__table--label {
    font-size: .9rem;
    width: 20%;
    margin-right: 8px;
    white-space: nowrap;

    color: $qp-color--primary;
  }

  .qp-content__table {
    width: 100%;
    th,
    td {
      padding: $qp-global-padding-margin/2;

      vertical-align: top;

      border-bottom: 1px solid lighten($qp-color--primary, 45%);
    }
    tr:last-child td {
      padding-bottom: 0;

      border-bottom: 0;
    }
  }

  .qp-table--geda {
    width: 100%;
    .mat-form-field {
      width: 75% !important;
    }
    td {
      vertical-align: middle !important;
      padding: 0;
      button {
        margin-right: 0;
      }
    }
  }

  .qp-content__table--text {
    line-height: 1.2rem;

    text-align: justify;
  }

  .qp-annexes-signature__table {
    width: 100%;
    border: 1px solid lighten($qp-color--primary, 50%);
    border-radius: 5px;
    padding: $qp-global-padding-margin/4;
    margin-top: $qp-global-padding-margin/4;
    margin-bottom: $qp-global-padding-margin/2;
    td {
      font-size: .7rem;

      padding: $qp-global-padding-margin/5 0;
      vertical-align: middle !important;
    }
    td+td {
      border-bottom: 1px solid lighten($qp-color--primary, 45%);
      width: 100%;
    }
    td+td+td {
      border-bottom: 0;
    }
    tr:last-child td {
      border-bottom: 0;
      padding: 4px 0 2px 0;
    }
  }

  .qp-authors__table {
    width: 100%;
    padding: 0;
    td {
      padding: $qp-global-padding-margin/5 0;
      vertical-align: middle !important;
      &:first-child {
        padding: 0 0 $qp-global-padding-margin/5 0;
      }
    }
    td+td {
      border-bottom: 1px solid lighten($qp-color--primary, 45%);
      width: 100%;
    }
    tr:last-child td {
      border-bottom: 0;
      padding: 4px 0 2px 0;
    }
  }

  .qp-authors-ig__table,
  .qp-authors-webform__table {
    td {
      border-bottom: 1px solid lighten($qp-color--primary, 45%);
    }
    tr:last-child td {
      border-bottom: 0;
    }
    td:first-child {
      width: 100%;
    }
  }

  .qp-authors-qo__table {
    td {
      border-bottom: 1px solid lighten($qp-color--primary, 45%) !important;
      width: 20%;
    }
    tr:last-child td {
      border-bottom: 0 !important;
    }
  }

  .qp-annexes-signatures--label {
    font-size: .7rem;
    color: $qp-color--primary;
  }
