/**
*
* TABS
*
*/

.qp-tab__container {
  padding: $qp-global-padding-margin;
}

.mat-tab-label:hover {
  color: $qp-font-color--light;
  background-color: $qp-color--accent !important;
}

.mat-tab-label-active {
  background-color: $qp-tab-label-active--bgcolor !important;
  color: $qp-tab-label-active--color !important;
  opacity: 1 !important;
}

.mat-ink-bar {
  background-color: $qp-color--accent !important;
  height: 4px !important;
}
