/**
*
* VARIABLES
*
*/

$qp-global-padding-margin: 20px;








/*==============================
=            HEADER            =
==============================*/

$qp-header__top-menu--height: 32px;





/*=====  End of HEADER  ======*/


/*=================================
=            CARD LIST            =
=================================*/


/*=====  End of CARD LIST  ======*/


/*==============================
=            FOOTER            =
==============================*/

$qp-footer--padding: $qp-global-padding-margin $qp-global-padding-margin;
$qp-footer--font-size: .7rem;





/*=====  End of FOOTER  ======*/
