<div class="qp-tab__container qp-color__translation" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly start" fxLayoutGap="20px">
  <!-- fxLayoutGap="20px" = SCSS variable $qp-global-padding-margin: 20px; in variables.scss -->
  <!--==================================
  =            MAIN CONTENT            =
  ===================================-->
  <div class="qp-tab__main-panel" fxLayout="column" fxLayoutGap="20px" fxFlex="75%" fxFlex.gt-sm="100%">
    <!--============================
    =            STATUS            =
    =============================-->
    <!-- !!! TODO: Replace *ngIf by *ngSwitchCase !!! -->
    <!--========== Status Translations Pending ==========-->
    <mat-card class="qp-card__status-info--pending-registration">
      <mat-card-header fxLayout="row" fxLayoutAlign="start center" aria-label="Status">
        <i class="fa fa-exclamation-triangle qp-icon__status-info" aria-hidden="true"></i>Translations Pending
      </mat-card-header>
    </mat-card>
    <!--========== END Status Translations Pending ==========-->
    <!--====  End of STATUS  ====-->
    <!--=============================
    =            CONTENT            =
    ==============================-->
    <mat-card>
      <mat-card-title aria-label="Title">Translation Details</mat-card-title>
      <mat-card-content>
        Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
      </mat-card-content>
    </mat-card>
    <!--====  END of CONTENT  ====-->
    <!--==================================
    =            TRANSLATIONS            =
    ===================================-->
    <mat-card>
      <mat-card-title aria-label="Title">Translations</mat-card-title>
      <mat-card-content>
        Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content Content
      </mat-card-content>
    </mat-card>
    <!--====  End of TRANSLATIONS  ====-->
  </div>
  <!--====  End of MAIN CONTENT  ====-->
  <!--==================================
  =            RIGHT PANELS            =
  ===================================-->
  <div class="qp-tab__right-panel" fxLayout="column" fxLayout.lt-md="row" fxLayoutGap="20px" fxFlex="25%" fxFlex.lt-md="100%">
    <!-- On the line above, fxLayoutGap="20px" = SCSS variable $qp-global-padding-margin: 20px; in variables.scss -->
    <mat-card fxFlex>
      <mat-card-title>Actions</mat-card-title>
      <mat-card-content class="qp-card-content__action">
        <mat-list>
          <!--========== Request Translation ==========-->
          <mat-list-item class="qp-list-item__actions-list--active" aria-label="Request Translation">
            <i class="fa fa-chevron-right qp-icon__actions-list" aria-hidden="true"></i>Request Translation
          </mat-list-item>
          <mat-divider></mat-divider>
          <!--========== Cancel Current Translation ==========-->
          <mat-list-item class="qp-list-item__actions-list--active qp-list-item__actions-list--delete" aria-label="Cancel Current Translation"><i class="fa fa-times-circle qp-icon__actions-list qp-icon__actions-list--delete" aria-hidden="true"></i>Cancel Current Translation</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
      <mat-card-title>Participants</mat-card-title>
      <mat-card-content>
        <mat-list class="qp-card__list">
          <mat-list-item class="qp-card__list-title">Author(s):</mat-list-item>
          <!--========== Authors depending on type of question ==========-->
          <div>
            <mat-list-item>Josep-Maria TERRICABRAS</mat-list-item>
          </div>
          <!--========== END Authors depending on type of question ==========-->
          <div>
            <mat-list-item class="qp-card__list-title">Registration Officer:</mat-list-item>
            <mat-list-item>Angela FLOOD</mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!--====  End of RIGHT PANELS  ====-->
</div>
